$theme-colors: (
  'primary': #ef233c,
  'secondary': #8d99ae,
  'success': #b5d99c,
  'danger': #ff0001,
  'warning': #ffff82,
  'info': #c6d8d3,
  'light': #edf2f4,
  'dark': #2b2d42,

  'primary-light': #ea3c3c,
);