@import './styles/variables';
@import './styles/functions';
@import './styles/mixins';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@import './styles/buttons';


.table {
  .thead-primary-light  {
    th {
      color: theme-color('light');
      background-color: theme-color('primary-light');
      border-color: #dee2e6;
    }
  }
}